*{
	margin: 0;
	padding: 0;
}
:root {
	--fontSize-16:16px;
	--color: #174B89;
}
.base {
	padding: 0 10;
	line-height: 100%;
	text-align: center;
	font-size: var(--fontSize-16);
}
.icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	vertical-align: top;
}